/*----------------------------------------------------------------------------- 
BASE STYLES 
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

body {
    overflow-x: hidden;
	font-family: 'Lato', sans-serif;
   

}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: ;
    letter-spacing:1.5px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
}


a:hover, a:focus, a:active  {
    outline: none;

}

.img {
    max-width: 180px;
    height: auto;
}



/*----------------------------------------------------------------------------- 
NAVIGATION  
-----------------------------------------------------------------------------*/
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #0083AE;
}


.navbar-default .navbar-brand {
    color: #0083AE;
}

.navbar-default .navbar-nav > li > a {
    color: #5E5E5E;

}

.navbar-default .navbar-nav > li > a:hover {
    color: #0083AE;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: grey;
}

.navbar-default  a.navbar-brand:visited { 
    color: ;
}

.navbar {
	padding: 5px;
    background-color: white;
    border-bottom-color: #7F919B;
}

.navbar-brand {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
	font-size: 25px;
    letter-spacing: 1px;
}

.navbar li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
	font-size: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}




/*----------------------------------------------------------------------------- 
HEADER
-----------------------------------------------------------------------------*/

.intro {
	background: #0083AE;
    background-position: center;
	background-repeat: no-repeat;
	display: table;
	width: 100%;
    height: auto;
    margin-top: -18px;
    padding: 180px 0;
    text-align: center;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .intro-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
    font-size: 80px;
    color: #fff;
    margin-top: 80px;

}

.intro .intro-text {
    margin-top: -30px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
    color: #fff;    
}


/*----------------------------------------------------------------------------- 
LAYOUT
-----------------------------------------------------------------------------*/
section {
    padding: 100px;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 300;
    color: #2A2D2F;
    line-height: 1;
    letter-spacing: -1px;
}

/* Portfolio */
.portfolio-item {
    margin-top: 20px;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 350px
}

.portfolio-item .img-responsive {
    margin: 0 auto;
}

#portfolio .portfolio-item .caption-content {
    margin: 0 auto;
    text-align: center;
}

/* Portfolio Modal*/ 
.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;

}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;

}

.portfolio-modal .modal-content img {
   margin: 0 auto;

}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

#about {
	padding: 200px 50px 200px 50px;
}

#contact {
    padding: 150px 50px 120px 50px;
}

#footer {
    padding: 50px 50px 10px 50px;

}



/*----------------------------------------------------------------------------- 
SOCIAL BUTTONS  
-----------------------------------------------------------------------------*/

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}



/*----------------------------------------------------------------------------- 
MEDIA QUERIES 
-----------------------------------------------------------------------------*/

@media(min-width:769px) {

    .intro .intro-body .intro-heading {
        font-size: 80px;
    }   

    .intro .intro-body .intro-text {
        font-size: 23px;
    }
  
    
    section h2.section-heading {
        font-size: 55px;    
    }

    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }


}


@media(max-width:768px) {
    

    .intro .intro-body .intro-heading {
        
        font-size: 60px;
    }   

    .intro .intro-body .intro-text {
        font-size: 18px;
    
    
    }

   section h2.section-heading {
        font-size: 35px;
        
    }

    section {
        padding: 100px 0;
        margin: auto;
    }
}


@media(max-width:360px) {
    .intro .intro-body .intro-heading {
        
        font-size: 45px;
    }   

    .intro .intro-body .intro-text {
        font-size: 18px;
    
    
    }

    
}
